.backimg {
  display: flex;
  flex-direction: row;
  background-image: url(../../assets/searchbar.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  padding: 0 45px;
  height: 300px;
  width: 1200px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px, rgba(0, 0, 0, 0.08) 0px 6px 6px;
}

.searchBar {
  width: 400px;
  overflow: hidden;
  border-radius: 5rem;
  display: flex;
  border: solid 2pt #386641;
  height: 2rem;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.20) 0px 6px 6px;
}

.searchTitle {
  font-size: 42pt;
  color: #7a0a6b;
}

.input {
  width: 15vw;
  background-color: #f2e8cf;
  font-family: sans-serif;
  border: none;
  color: var(--input-color-text);
  padding: 15px;
}

.input::placeholder {
  color: var(--input-color-placeholder-text);
  font-family: sans-serif;
  font-weight: 300;
}

.input:focus {
  outline: none;
}

.submit {
  border: none;
  color: #a7c957;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #386641;
  height: 100%;
  font-weight: 700;
  padding: 10px;
}