body {
    margin: 0;
    padding: 0;
    align-items: center;
}

.home {
    display: block;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    gap: 55px;
    margin-top: 30px;
    justify-content: center;
}

.contact {
    background-image: url(../../assets/formback.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.formBack {
    background-color: #69b347;
    opacity: 0.4;
}