.nav {
    z-index: 3;
}

.UserContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
}


/* ///////////////////// ACCOUNT INFORMATION /////////////////////// */

.AccountInfo {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    background-color: rgb(253, 231, 231);
    height: 60vh;
    margin-top: 10%;
    border-radius: 15px;
    border: solid 1px;
}

.topInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.accountName {
    font-size: 28pt;
    width: 400px;
}

.topInfo p {
    color: rgb(172, 175, 172);
}

.infoBody {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

.contactInfo {
    width: 60%;
}

.contactInfo h4 {
    color: rgb(143, 143, 143);
}

.AInfoCard {
    padding-bottom: 30%;
}

/* //////////////////// EDIT ACCOUNT FORM //////////////////////// */


.EditContainer {
    width: 100%;
    padding-left: 20%;
    padding-right: 30%;
    margin-left: 10%;
    background-color: rgb(253, 231, 231);
    height: 90%;
    margin-top: 1%;
    border-radius: 15px;
    border: solid 1px;
}


.EditCard form {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 500px;
    height: min-content;
    line-height: 42pt;
}

.formSection {
    display: flex;
    flex-direction: column;
}

.formSection button {
    width: 25%;
}

.formerror {
    color: brown;
    margin-top: -15px;
    font-size: 10pt;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.formInput input {
    height: 21pt;
}

/* ////////////////////     //////////////////////// */

.PassContainer {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    background-color: rgb(253, 231, 231);
    height: 90%;
    margin-top: 1%;
    border-radius: 15px;
    border: solid 1px;
}

.WishContainer {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    background-color: rgb(245, 231, 231);
    height: 90%;
    margin-top: 1%;
    border-radius: 15px;
    border: solid 1px;
}

.ReviewContainer {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    background-color: rgb(253, 231, 231);
    height: 90%;
    margin-top: 1%;
    border-radius: 15px;
    border: solid 1px;
}

.foot {
    position: fixed;
    bottom: -10px;
    width: 100%;
}