.content {
  display: flex;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  margin: 10px 0 10px 30px;
}

.filters {
  background-color: #b8f587;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin: 3px;
  font-size: 1.1rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
