.containerH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}


.bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 70%;
    top: 30%;
}
.bar_slogan {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 70%;
    top: 30%;
    animation: aparecerElemento 1.3s;
    
}

.nameInite {
    color: #d3e5a5;
    font-size: 8.2rem;
    font-weight: bold;
    line-height: 9.2rem;
    position: absolute;
    top: 10%;
    right: 50%;
    animation: aparecerElemento 1s;
    transition: all 0.3s ease-out;
    text-shadow: 2px 2px 3px black;
}

.name {
    color: #d3e5a5;
    font-size: 8.2rem;
    font-weight: bold;
    line-height: 9.2rem;
    position: absolute;
    top: 10%;
    right: 50%;
    animation: aparecerElemento 0.5s;
    transition: all 0.3s ease-out;
    text-shadow: 2px 2px 3px black;
 
}
.h1 {
    color: #f2e8cf;
    font-size: 44pt;
    width: 350px;
    font-weight: bold;
    animation: aparecerElemento 1.5s;    
}

.h1_slogan {
    color: #f2e8cf;
    font-size: 44pt;
    width: 350px;
    font-weight: bold;
    animation: aparecerElemento 1.2s;
}
.h1_steps {
    color: #ff8001;
    font-size: 44pt;
    width: 350px;
    font-weight: bold;
    animation: aparecerElemento 1.2s;
}

.h2 {
    color: #ff8001;
    font-size: 84pt;
    width: 350px;
    font-weight: bold;
    line-height: 85pt;
    margin-top: -20px;
    animation: aparecerElemento 1.5s; 
}

.h2_slogan {
    color: #ff8001;
    font-size: 84pt;
    width: 350px;
    font-weight: bold;
    line-height: 85pt;
    margin-top: -20px;
    animation: aparecerElemento 1.2s;
}

.bar2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 20%;
}

.hShop {
    margin-top: 25px;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 24pt;
    font-weight: bold;
    background-color: #a3c413;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: all .2s ease-in;
}

.barVariety {
    color: #a3c413;
    font-size: 84pt;
    width: 350px;
    font-weight: bold;
    line-height: 55pt;
}

.hShop:hover {
    background-color: #fffb02;
    scale: 1.1;
}

.hShop a {
    color: black;
}

header {
    width: 100vw;
    background: black;
    overflow: hidden;
}

.imgCar {
    position: relative;
    object-fit: cover;
    opacity: 0.6;
}

@keyframes aparecerElemento {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}